
.modalBackround{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,.5); /* Fallback color */

}
.modalDialogAlert{
    display: none;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.modalDialogEdit{
    display: none;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 500px;
}
.modalHeader{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
    color: #212529;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}